<% include ../partials/boilerplate %>


<div class="wrapper">
<% data.forEach((el) => { %>
    <div class="container">
      <a href="/posts/<%= el.id %>"><img src="<%= el.url %>"></a>
      <p><%= el.caption %></p>

      <div class="comlike">
        <i class="fas fa-comment"></i>

        <!-- <form action="/posts/<%= el.id %>/edit" method="GET">
        <button type="submit"><i class="fas fa-edit"></i></button>
        </form> -->

        <a href="/posts/<%= el.id %>/edit"><i class="fas fa-edit"></i></a>

        <i class="fas fa-heart"></i>

        <form action="/posts/<%= el.id %>?_method=DELETE"  method="DELETE">
        <button type="submit"><i class="fas fa-trash-alt"></i></button>
        </form>

      </div><!-- closing comlike -->

    </div><!-- closing container -->
<% }) %>

</div><!-- closing wrapper -->

<% include ../partials/end %>
